REPLAY_LOC="/path/to/RL/replays/my games/Rocket League/TAGame/Demos"
JSON_LOC="./replays"

GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nKEY GOES HERE NO SPACES BUT REPLACE NEW LINES WITH ESCAPE CHAR \n-----END PRIVATE KEY-----\n"
GOOGLE_SERVICE_ACCOUNT_EMAIL=rlll-viewer@rll-site.iam.gserviceaccount.com

SEASON_NUMBER=4
GOOGLE_SHEETS_SHEET_ID=(from sheet URL)
